.contact-footer-container{
    width: 100%;
    background-image: url(../../../assets/Background-Contact-Form.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.2;
    height: 80vh;
    display: flex;
    justify-content: flex-end;
    position: relative;
    .contact__container{
        display: flex;
        justify-content: center;
        width: 30%;
        margin-right: 7.5%;
        font-size: 3.8rem;
        color: $dark-font-color;
        position: absolute;
        opacity: 1.0;
    }
}