.entity-container{
    font-family: $font-alt;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .entity-name-and-description{
    .entity-name-and-description__name{

    }
    .entity-name-and-description__description{
        
    }
    }
    .entity-additional-info{

    }
}