.header {
    margin-right: 7.5%;
    display: flex;
    flex-direction: row;
    .header__image{
        width: 50%;
        background-image: url(../../assets/Home-Hero-Image.jpg);
        height: 80rem;
        background-repeat:no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .header__login-nav-content-container{
        width: 50%;
        display: flex;
        flex-direction: column;
        font-size: 1.8rem;
        .header__login-nav-container{
                display: flex;
                flex-direction: column;
            .header__login{
                display: flex;
                justify-content: space-around;
            }
            .header__nav{
                display: flex;
                justify-content: space-around;
            }
        }
        .header__content-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            .header__sloganbox{
                font-size: 3.8rem;
            }
            .header__decorationbox{
                display: flex;
            }
            .header__buttons-section{
                font-size: 36px;
                font-weight: 400;
                display: flex;
                flex-direction: row;
            }
        }
    }
}