@import "./settings/fonts";
@import "./settings/colors";
@import "./reset";

body{
  font-family: $font-base;
  width: 100vh;
  height: 100vh;
}

p{
  font-family: $font-alt;
  font-size: 30px;
}

span{
  font-family: $font-base;
  font-size: 30px;
}
